{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {{ name }}</h1>
    <h2>What have you done this week?</h2>
    {% if snippet %}<div>{{ snippet }}</div>{% endif %}
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}