{% extends "base.html.j2" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}
<div class="page-header">
    <div class="list-group">
        {% for snippet in snippets %}
        <div class="list-group-item">
            <h5>week of {{ snippet["week_begin"] }}</h5>
            <p class="mb-1">{{ snippet["content"] }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}