Dear {{ user.name }},

Welcome to lastweek!

To confirm your account, please click on the following link:

{{ url_for("auth.confirm", token=token, _external=True) }}

Sincerely,

The lastweek team

Note: Replies to this email address are not monitored.